body {
    background-color: black;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.post {
    background-color: white;
    width: 500px;
    padding: 10px 0px;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    justify-content: space-between;
}

.header-left {
    display: flex;
}

.header-left .fa-html5 {
    margin-top: 3px;
    font-size: 35px;
}

.header-text p {
    margin: 0;
}

.header-text .username {
    font-weight: bold;
}

.header-text .rigo {
    font-size: 12px;
}

.header-right i {
    font-size: 30px;
}

.post-img img{
    width: 100%;
    height: auto;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0 10px;
}

.post-icons i {
    font-size: 25px;
}

.icons-left {
    display: flex;
    gap: 10px;
}

.post-body p {
    padding: 0 10px;
    font-size: 16px;
}